.full-width {
    width: 100%;
    margin-bottom: 20px;
  }
  
  mat-card {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
  }
  
  div.full-width {
    display: flex;
    flex-direction: column;
  }
  

  body {
    background-color: #003366;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #menu{
    background-color:#001a33;
    width: 98.8vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    position:sticky;
    margin-left: -10px;
    margin-top: -8px;
    justify-content: space-between;
  }
  
  #menu p {
    margin-left: 2vw;
  }